body{
    margin-top: 200px;
}

main{
    width: 100%;
}
form{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    max-width: 400px;

}

/* 로고 */

#logo{
    margin: 0;
    font-family: Arial Black;
    color: #FFD400;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

#logo:hover{
    cursor: pointer;
}

#user_info_div{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 400px;
}

.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    justify-content: space-evenly;
}

.btn{
    background-color: #FFD400;
    border-radius: 5px;
    border: 1px solid  black;
    max-width: 400px;
}
.btn:hover{
    cursor: pointer;
}

/* 수정 버튼 클릭 시 */
.hidden{
    display: none;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    width: 150px;
    margin: 16px 0;
}

.hidden:focus{
    outline: 2px solid #FFD400;
    border: 1px solid #FFD400;
}

#ok{
    display: none;
}